.section {
  padding: 100px 0;
}

.container {
  width: 500px;
  margin: 0 auto;
}

.title {
  font-size: 100px;
}

.card-list {
  display: flex;
  gap: 24px;
}

.card-item-title {
  color: tomato;
}
